.eventpage {
    .breadcrumb ul {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 3%;
        margin-bottom: 3rem;

        a {
            color: #5a041b;
            text-decoration: underline;
        }
    }

    h2 {
        margin-bottom: 2rem;
    }
    
    .genre, .some {
        margin-left: 1.5rem;
        margin-bottom: 2rem;

        li, a {
            color: #ff1b58;
        }
        
    }

    .some {
        margin-bottom: 4rem;

        p {
            color: #ff1b58;
        }
    }

    .festivalpass, .artists{

        img {
            width: 100%;
        }
        
    }

    .festivalpass .eventcard{
        background-color: white;
        padding: 1.5rem;
        margin-bottom: 5rem;
        border-radius: 15px;

        img {
            margin-bottom: 2rem;
        }

        h2, h3 {
            color: black;
            text-align: center;
        }

        .div1 {
            display: flex;
            justify-content: space-around;

            p {
                color: #F20530;
            }
        }

        .buy {
            display: flex;
            flex-direction: column;
            
            button {
                margin-top: 2rem;

                &:hover {
                    background-color: #5a041b;
                }
            }
        }

        img {
            width: 100%;
            border-radius: 5px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
        }

         .quantity {
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 1rem;
            background-color: #1a1a1a;
            border-radius: 10px;

            p {
                color: white;
            }

            button {
                margin: 0;
                background-color: transparent;
                color: white;

                &:hover {
                    background-color: transparent !important;
                }
            }
        }
    }

    .artists {
        ul {
            padding: 0;

            li {
                list-style: none;
                text-align: center;
                margin-bottom: 2.5rem;
            }
        }
    }
}