.eventpage {
    padding: 1rem;

    .breadcrumb ul {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 3%;
        margin-bottom: 3rem;
        color: white;

        a {
            color: white;
            text-decoration: underline;
        }
    }

    h2, h3, figcaption {
        margin-bottom: 2rem;
        color: white;
    }
    
    .genre, .some {
        margin-left: 1.5rem;
        margin-bottom: 2rem;

        li, a {
            color: #ff1b58;
        }
        
    }

    .some {
        margin-bottom: 4rem;

        p {
            color: #ff1b58;
        }

        li {
            text-decoration: underline;
        }
    }

    .festivalpass, .artists{

        img {
            width: 100%;
        }
        
    }

    .festivalpass .eventcard{
        background-color: white;
        padding: 1.5rem;
        margin-bottom: 5rem;
        border-radius: 15px;
        max-width: 400px;
        min-height: 310px;

        img {
            margin-bottom: 2rem;
        }

        h2, h3 {
            color: black;
            text-align: center;
        }

        .div1 {
            display: flex;
            justify-content: space-around;

            p {
                color: #F20530;
            }
        }

        .buy {
            display: flex;
            flex-direction: column;
            
            button {
                color: white;

                &:hover {
                    background-color: #5a041b;
                }
            }
        }

        img {
            width: 100%;
            border-radius: 5px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
        }

         .quantity {
            display: flex;
            justify-content: space-evenly;
            background-color: #1a1a1a;
            border-radius: 10px;

            p {
                color: white;
            }

            button {
                margin: 0;
                background-color: transparent;
                color: white;

                &:hover {
                    background-color: transparent !important;
                }
            }
        }
    }

    .passFlex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5%;
    }

    .artists {
        ul {
            padding: 0;

            li {
                list-style: none;
                text-align: center;
                margin-bottom: 2.5rem;
                width: 100%;
                max-width: 500px;
            }
        }

        .artistFlex {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

@media (min-width: 1200px) {
    .eventpage {
        margin-left: 10rem;
        margin-right: 10rem;

        .breadcrumb {
            margin-bottom: 7rem;
        }

        .festivalpass {
            margin-top: 12rem;
        }

        .artists {
            margin-top: 10rem;
        }
    }
}