.home {

    h1 {
        font-size: 1.5rem;
        text-align: center;
        color: white;
        margin-bottom: 4rem;
    }

    h2 {
        color: white;
        margin-bottom: 2.5rem;
        margin-top: 2.5rem;
    }

    .attractions, .events{
        background-color: white;
        padding: 1.5rem;
        margin-bottom: 5rem;
        border-radius: 15px;

        h3 {
            color: black;
        }

        img {
            width: 100%;
            border-radius: 5px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
        }

        p {
            color: #F20530;
        }
    }

    .buttons{
        display: flex;
        flex-wrap: wrap;
        gap: 5%;
        margin-bottom: 4rem; 
    
        button{
            margin-bottom: 1rem;

            &:hover {
                background-color: white;
                color: #8C0327;
            }
        }
    }

    .events {
        h3 {
            text-align: center;
        }

        p {
            color: #8C0327;
            text-align: center;
        }
    }    
}
