.videoContainer {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 18vh;
    margin-bottom: 4rem;

    .festival-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
    }

    h1 {
        font-size: 1.5rem;
        text-align: center;
        color: white;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.home {

    h2 {
        color: white;
        margin-bottom: 2.5rem;
        margin-top: 0;
    }

    .flexFestival, .whatCity {
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5%;
    }

    .whatsUp {
        padding: 1rem;
    }

    .attractions, .events{
        background-color: white;
        padding: 1.5rem;
        margin-bottom: 5rem;
        border-radius: 15px;
        max-width: 300px;
        min-height: 310px;

        h3 {
            color: black;
        }

        img {
            width: 100%;
            border-radius: 5px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
        }

        p {
            color: #F20530;
        }
    }

    .buttons{
        display: flex;
        flex-wrap: wrap;
        gap: 5%;
        margin-bottom: 4rem; 
    
        button{
            margin-bottom: 1rem;
            color: white;

            &:hover {
                background-color: white;
                color: #8C0327;
            }
        }
    }

    .events {
        h3 {
            text-align: center;
        }

        p {
            color: #8C0327;
            text-align: center;
        }
    }    
}

@media (min-width: 768px) {
    .videoContainer {
        height: 38vh;
    }
}


@media (min-width: 1200px) {
    .home {
        margin-left: 10rem;
        margin-right: 10rem;

        .flexFestival {
            margin-top: 15rem;
            margin-bottom: 5rem;
        }

        .buttons {
            margin-bottom: 10rem;
        }
    }
}
