body{
    font-family: "Science Gothic", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "CTRS" 0;
    margin: 0;

    .gradient {
        position: fixed;
        inset: 0;
        z-index: -1;
        background: linear-gradient(135deg, #f20544, #0b44a5);
    }

    .layout {
        header{
            display: flex;
            margin-bottom: 4rem;
            justify-content: space-between;
            position: sticky;
            top: 0;
            padding: 1rem;
            background: rgb(0 0 0 / 63%);
            backdrop-filter: blur(10px);

            #logo {
                color: white;
                font-size: xx-large;
            }

            a {
                background-color: transparent;
                font-size: xx-large;
                padding: 0;
                color: white;

                span {
                    font-size: small;
                }
            }

        }

        .added-popup {
            color: black;
            margin-top: 1rem;
        }

        main {
            padding: 1rem;
        }

        footer {
            font-weight: 300;
            color: white;
            margin-top: 6rem;

            a {
                color: #F20544;
            }
        }
    }
}

#root {
    min-height: 100vh;
}