body, #root {
    margin: 1rem;
    background: linear-gradient(135deg, #F20544, #0b44a5);
    background-attachment: fixed;
    font-family: "Science Gothic", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "CTRS" 0;


    header{
        margin-bottom: 4rem;

        a {
            color: #6f021f;
            font-size: xx-large;
        }
    }

    footer {
        font-weight: 300;
        color: white;
        margin-top: 6rem;

        a {
            color: #F20544;
        }
    }
}