body{
    font-family: "Science Gothic", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "CTRS" 0;
    margin: 0;

    .gradient {
        position: fixed;
        inset: 0;
        z-index: -1;
        background: linear-gradient(135deg, #f20544bd, #0b44a5);
    }

    .layout {
        header{
            display: flex;
            justify-content: space-between;
            position: sticky;
            top: 0;
            padding: 1rem;
            background-color: black;
            z-index: 10;
            align-items: center;

            #logo {
                color: white;
                font-size: xx-large;
            }

            a {
                background-color: transparent;
                font-size: x-large;
                padding: 0;
                color: white;

                span {
                    font-size: small;
                }
            }

        }

        .added-popup {
            color: black;
            margin-top: 1rem;
        }

        footer {
            font-weight: 300;
            color: white;
            margin-top: 6rem;
            padding: 1rem;

            a {
                color: #F20544;
            }
        }
    }
}

#root {
    min-height: 100vh;
}