.shoppingcart {
    padding: 1rem;

    h2 {
        margin-bottom: 3rem;
        text-align: center;
        color: white;
    }

    p {
        color: white;
        text-align: center;
    }

    .cartFlex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5%;
    }

    .cart-card {
        background-color: white;
        padding: 1.5rem;
        margin-bottom: 5rem;
        border-radius: 15px;
        max-height: 620px;
        max-width: 400px;

        img {
            margin-bottom: 2rem;
            width: 100%;
        }

        h3 {
            color: black;
            text-align: center;
            margin-bottom: 3rem;
        }

        p {
            color: #F20530;
            text-align: center;
            margin-top: 1rem;
        }

        button {
            background-color: transparent;
            color: black;
            font-size: larger;
            padding: 0;

            &:hover {
                color: #6f021f;
            }
        }

        .quantity {
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 2rem;
            background-color: black;
            border-radius: 10px;

            p {
                color: white;
            }

            button {
                color: white;
            }
        }

    }
}